/* estylo geral */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/* estylo  */

body{
    color: white;
   background-color: black;
   font-family: sans-serif;
   max-width: 1280px;
   margin: 0 auto;
   padding: 15px;
}

img{
    height: 40px;
}

li {
    display: inline-block;
    margin: 20px;
    width: 35px;
    justify-content: space-between;
}

ul{
    text-align: center;
}

ul a{
    color: #ffffff;
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10%;
}
ul a:hover {
    color: green;
    transition: 0.3s all;
}

li{
    margin: 10px;
}

.conteiner{
    padding: 0px 50px;
}

h1{
    margin: 50px 0px;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: rgb(244, 246, 244);
}

span{
    text-align: center;
    height: center
}

button{
    color: green;
    border: 2px solid green;
    border-radius: 20%;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 15px;
    text-align: center;
    color: green;
}

footer p{
    margin-top: 1px;
}

/* form */

form{
    display: flex;
    flex-direction: column;
    margin-top: 1.80%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: green;
    color:#ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease;
}

form [type="submit"]:hover{
    color: #000;
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

/* footer */

footer {
    width: 100%;
    height: 250px;
}

footer .main {
    width: 100%;
    height: 200px;
    background: green;
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-company, .footer-rental, .footer-contact, .footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links {
    margin-bottom: 8px;
}

footer .last {
    width: 100%;
    height: 50px;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-social a {
    width: 32px;
    height: 32px;
    margin: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}